		<div class="container">

			<!-- タイトル -->
			<div class="row">
				<div class="col-md-12">
					<h2><b>Purchase history</b></h2>
				</div>
			</div><!-- end タイトル　-->

			<div class="row">
				<!-- 購入内容 -->
				<div class="col-md-12">
					<!-- 購入日・小計 -->
					<div class="row">
						<div class="col-md-10">
							<h3><b>2018&nbsp;Jan&nbsp;21</b></h3>
						</div>
						<div class="col-md-2">
							<h3><b>小計</b></h3>
						</div>
					</div><!-- end 購入日・小計　-->

					<!-- CD内容 -->
					<div class="row">
						<!-- 外枠　-->
						<div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px;">
							<div class="row" style= "margin: 15px auto;">
								<div class="col-md-3 ">
									<a href="">
										<%= image_tag "51YJfX9RtDL.jpg" , :width => '120', :height => '120' %>
									</a>
								</div>
								<div class="col-md-7">
									<p>シングルアルバム名</p>
									<p>アーティスト</p>
									<p>値段 / 枚数</p>
								</div>
								<div class="col-md-2">
									<h4><b>stastus</b></h4>
									<h4><b>price</b></h4>
								</div>
							</div>

							<div class="row" style= "margin: 15px auto;">
								<div class="col-md-3 ">
									<a href="">
										<%= image_tag "51YJfX9RtDL.jpg" , :width => '120', :height => '120' %>
									</a>
								</div>
								<div class="col-md-7">
									<p>シングルアルバム名</p>
									<p>アーティスト</p>
									<p>値段 / 枚数</p>
								</div>
								<div class="col-md-2">
									<h4><b>stastus</b></h4>
									<h4><b>price</b></h4>
								</div>
							</div>

						</div><!-- end 外枠　-->
					</div><!-- end CD内容 -->

				</div><!-- end 購入内容 -->

			</div><!-- end row-->

			<div class="row">
				<!-- 購入内容 -->
				<div class="col-md-12">
					<!-- 購入日・小計 -->
					<div class="row">
						<div class="col-md-10">
							<h3><b>2018&nbsp;Feb&nbsp;1</b></h3>
						</div>
						<div class="col-md-2">
							<h3><b>小計</b></h3>
						</div>
					</div><!-- end 購入日・小計　-->

					<!-- CD内容 -->
					<div class="row">
						<!-- 外枠　-->
						<div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px;">
							<div class="row" style= "margin: 15px auto;">
								<div class="col-md-3 ">
									<a href="">
										<%= image_tag "513PN1ed61L.jpg" , :width => '120', :height => '120' %>
									</a>
								</div>
								<div class="col-md-7">
									<p>シングルアルバム名</p>
									<p>アーティスト</p>
									<p>値段 / 枚数</p>
								</div>
								<div class="col-md-2">
									<h4><b>stastus</b></h4>
									<h4><b>price</b></h4>
								</div>
							</div>

							<div class="row" style= "margin: 15px auto;">
								<div class="col-md-3 ">
									<a href="">
										<%= image_tag "51YJfX9RtDL.jpg" , :width => '120', :height => '120' %>
									</a>
								</div>
								<div class="col-md-7">
									<p>シングルアルバム名</p>
									<p>アーティスト</p>
									<p>値段 / 枚数</p>
								</div>
								<div class="col-md-2">
									<h4><b>stastus</b></h4>
									<h4><b>price</b></h4>
								</div>
							</div>

							<div class="row" style= "margin: 15px auto;">
								<div class="col-md-3 ">
									<a href="">
										<%= image_tag "51YJfX9RtDL.jpg" , :width => '120', :height => '120' %>
									</a>
								</div>
								<div class="col-md-7">
									<p>シングルアルバム名</p>
									<p>アーティスト</p>
									<p>値段 / 枚数</p>
								</div>
								<div class="col-md-2">
									<h4><b>stastus</b></h4>
									<h4><b>price</b></h4>
								</div>
							</div>

						</div><!-- end 外枠　-->
					</div><!-- end CD内容 -->

				</div><!-- end 購入内容 -->

			</div><!-- end row-->





		</div><!-- end container-->