		<div class="container">

			<!-- タイトル -->
			<div class="row">
				<div class="col-md-12">
					<h2><b>Cart</b></h2>
				</div>
			</div><!-- end タイトル　-->

			<div class="row">
				<!-- 購入内容 -->
				<div class="col-md-12">

					<!-- 購入内容 -->
					<div class="row">
						<!-- 外枠　-->
						<div class="pre-scrollable" style="max-height: 500px;">
							<div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px;">

								<!-- CD内容　-->
								<% @carts.each do |cart| %>
									<div class="row" style= "margin: 15px auto;">
										<div class="col-md-3 ">
											<%= link_to item_path(cart.item) do %>
												<%= attachment_image_tag cart.item, :jacket_image, :fill, 130, 130, fallback: "no_img_130.png" %>
											<% end %>
										</div>
										<div class="col-md-7">
											<p><%= link_to cart.item.item_name, item_path(cart.item) %></p>
											<p><%= cart.item.artist.artist_name %></p>
											<p><%= number_to_currency(cart.item.price, :unit => "￥", :precision => 0) %></p>
											<div class="row">
												<div class="col-md-12 form-inline ">
													<%= form_for(cart) do |f| %>
														<%= f.select :quantity, (0..cart.item.stock).map{|i| [i, i]} %>
														<%= f.submit "update", class: "btn btn-default btn-sm"%>
														<%= link_to "delete", cart_path(cart), method: :delete, class: "btn btn-danger btn-sm" %>
													<% end %>
												</div><!-- end selectBox -->
											</div>
										</div>
										<div class="col-md-2" style= "margin-top: 40px;">
											<h4><b><%= number_to_currency(cart.item.price * cart.quantity, :unit => "￥", :precision => 0) %></b></h4>
										</div>
									</div><!-- end CD内容　-->
								<% end %>
							</div>
						</div><!-- end 外枠　-->
					</div><!-- end CD内容 -->

					<!-- 購入日・小計 -->

					<div class="row" style= "margin: 20px auto 0;">

						<div class="col-md-8"></div>
						<div class="col-md-2">
							<h3><b><%= number_to_currency(sub_total_each_carts, :unit => "￥", :precision => 0) %></b></h3>
						</div>
						<div class="col-md-2">
							<%= form_for(@order) do |f| %>
								<%= f.submit "Buy now", class: "btn btn-primary", style: "margin-top: 15px;", data: { confirm: "Total payment is #{sub_total_each_carts} yen, are you sure?" } %>
							</div>

						</div>

						<div class="row">
							<div class="col-md-12">
								<h2><b>Destination</b></h2>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12" style="border: 1px solid #ddd; border-radius: 4px;">

								<div class="row" >
									<div class="col-md-12" style= "margin-top: 15px;">
										<label>First Name ※</label>
										<%= f.text_field :firstname, class: "form-control", value: current_user.firstname %>
									</div>
								</div>

								<div class="row" style= "padding-bottom: 15px;">
									<div class="col-md-12" style= "margin-top: 15px;">
										<label>Last Name ※</label>
										<%= f.text_field :lastname, class: "form-control", value: current_user.lastname %>
									</div>
								</div>

								<div class="row" style= "padding-bottom: 15px;">
									<div class="col-md-12">
										<label>Zip Code ※</label>
										<%= f.text_field :zip_code, class: "form-control", value: current_user.zip_code, placeholder: "XXXXXXX" %>
									</div>
								</div>

								<div class="row" style= "padding-bottom: 15px;">
									<div class="col-md-12">
										<label>Address ※</label>
										<%= f.text_field :address, class: "form-control", value: current_user.address, placeholder: "東京都 XXXXX XXXXX XXXXX XXXXX" %>
									</div>
								</div>

								<div class="row" style= "padding-bottom: 30px;">
									<div class="col-md-12">
										<label>Phone Number ※</label>
										<%= f.text_field :phone, class: "form-control", value: current_user.phone, placeholder: "XXXXXXXXXXX" %>
									</div>
								</div>
								<% end %>
							</div><!-- end 購入日・小計　-->
						</div>

					</div><!-- end 購入内容 -->

			</div><!-- end row-->



		</div><!-- end container-->