		<div class="container">

			<!-- タイトル -->
			<div class="row">
				<div class="col-md-12">
					<h2><b><%= @item.item_name %></b></h2>
				</div>
			</div><!-- end タイトル　-->

			<div class="row">
				<!-- CD紹介 -->
				<div class="col-md-7">
					<!-- CD内容 -->
					<div>
						<p><b><%= @item.genre.genre_name %></b></p>
						<p><b><%= @item.artist.artist_name %></b></p>
						<p><b><%= @item.label %></b></p>
						<p><b><%= @item.price %> / <% if @item.stock = 0 %><span style="color: red;">Sold out</span><% else %><%= @item.stock %><% end %></b></p>
					</div><!-- end CD内容-->
					<br>
					<!-- 収録曲 -->
					<div class="row">
						<div  class="pre-scrollable" style="max-height: 500px";>
							<% @disks.order(:disk_number).each do |disk| %>
								<div class="col-md-12">
									<p>Disk.<%= disk.disk_number %></p>
								</div>
								<% disk.songs.order(:track_number).each do |song| %>
									<div class="col-md-6">
										<p>&nbsp;<%= song.track_number %>.<%= song.artist.artist_name %></p>
									</div>
									<div class="col-md-4" style="background-color: black;">
										<p><%= song.song_name %></p>
									</div>
									<div class="col-md-2">
										<p><%= song.song_length.strftime("%H:%M:%S") %></p>
									</div>
								<% end %>
							<% end %>
						</div>
					</div><!-- end 収録曲-->


				</div><!-- end CD紹介 -->

				<!-- ジャケット部分 -->
				<div class="col-md-5">
					<div style="text-align:center";>
						<a href="">
							<%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, fallback: "no_img.png" %>
						</a>
					</div>
					<br>
					<%= form_for(@cart) do |f| %>
						<div class="row">
							<div class="col-md-3"></div><!-- selectBox調整col -->
							<!-- selectBox -->
							<div class="col-md-3">
								<%= f.select :quantity, (0..@item.stock).map{|i| [i, i]} %>
								<%= f.hidden_field :item_id, value: @item.id, readonly: true %>
							</div><!-- end selectBox -->

							<!-- cartボタン -->
							<div class="col-md-6">
								<% if @item.stock != 0 %>
									<%= f.submit "Add to cart", class: "btn btn-success" %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div><!-- end ジャケット部分 -->

			</div><!-- end row-->



		</div><!-- end container-->
